<nav class="navbar bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand"><b>TRABAJITOS</b></a>
        <form class="d-flex">
        </form>
    </div>
</nav>
<br>

<div class="registro-container">
    <div class="registro-header">
        <h1><b>Iniciar sesión</b></h1>
    </div>
    <div class="registro-content">
        <div class="registro-image">
            <img src="assets/trabajitos-logotipo.jpg">
        </div>
        <div class="registro-form">
            <input type="email" id="correo" name="correo" placeholder="Ingrese su correo electrónico" required>
            <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" required>
            <button class="registro-button">Iniciar sesión</button>
            <p class="registro-link">¿Aún no tienes una cuenta? <a href="/registro">Crear una cuenta</a></p>
        </div>
    </div>
</div>