<br>
<h1 class="table-title"><b>MIS TRABAJITOS</b></h1>
<div class="add-button-container">
    <button class="add-button">Agregar trabajo</button>
</div>
<table class="dashboard-table">
    <thead>
        <tr>
            <th>Trabajitos</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Trabajo 1</td>
            <td>Nombre 1</td>
            <td>Descripción 1</td>
            <td>100</td>
            <td>
                <button class="action-button color-button" title="Ver información">Ver
                    <i class="fas fa-eye"></i>
                </button>
                <button class="action-button color-button" title="Editar información"> Editar
                    <i class="fas fa-edit"></i>
                </button>
                <button class="action-button color-button" title="Eliminar trabajo">Eliminar
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>Trabajo 1</td>
            <td>Nombre 1</td>
            <td>Descripción 1</td>
            <td>100</td>
            <td>
                <button class="action-button color-button" title="Ver información">Ver
                    <i class="fas fa-eye"></i>
                </button>
                <button class="action-button color-button" title="Editar información"> Editar
                    <i class="fas fa-edit"></i>
                </button>
                <button class="action-button color-button" title="Eliminar trabajo">Eliminar
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>Trabajo 1</td>
            <td>Nombre 1</td>
            <td>Descripción 1</td>
            <td>100</td>
            <td>
                <button class="action-button color-button" title="Ver información">Ver
                    <i class="fas fa-eye"></i>
                </button>
                <button class="action-button color-button" title="Editar información"> Editar
                    <i class="fas fa-edit"></i>
                </button>
                <button class="action-button color-button" title="Eliminar trabajo">Eliminar
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>Trabajo 1</td>
            <td>Nombre 1</td>
            <td>Descripción 1</td>
            <td>100</td>
            <td>
                <button class="action-button color-button" title="Ver información">Ver
                    <i class="fas fa-eye"></i>
                </button>
                <button class="action-button color-button" title="Editar información"> Editar
                    <i class="fas fa-edit"></i>
                </button>
                <button class="action-button color-button" title="Eliminar trabajo">Eliminar
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>Trabajo 1</td>
            <td>Nombre 1</td>
            <td>Descripción 1</td>
            <td>100</td>
            <td>
                <button class="action-button color-button" title="Ver información">Ver
                    <i class="fas fa-eye"></i>
                </button>
                <button class="action-button color-button" title="Editar información"> Editar
                    <i class="fas fa-edit"></i>
                </button>
                <button class="action-button color-button" title="Eliminar trabajo">Eliminar
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>Trabajo 1</td>
            <td>Nombre 1</td>
            <td>Descripción 1</td>
            <td>100</td>
            <td>
                <button class="action-button color-button" title="Ver información">Ver
                    <i class="fas fa-eye"></i>
                </button>
                <button class="action-button color-button" title="Editar información"> Editar
                    <i class="fas fa-edit"></i>
                </button>
                <button class="action-button color-button" title="Eliminar trabajo">Eliminar
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>