<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<header>
  <div class="row">
    <div class="col-sm-12">
      <div class="d-flex align-items-center justify-content-between">
        <h4 class="titulo-principal">USUARIOS ARCHIVADOS</h4>
        <button (click)="salir()" title="Salir" class="btn boton-salir"><i class="fa-solid fa-arrow-right-from-bracket"></i>
          Salir</button>
      </div>
    </div>
  </div>
  <hr>
</header>

<body>

  <div class="d-flex  flex-wrap">
    <button class="btn m-1" [class.btn-administradores]="pestanaSeleccionada !== 'administradores'"
      [class.btn-admin-seleccionado]="pestanaSeleccionada === 'administradores'"
      (click)="seleccionarPestana('administradores')">
      Mostrar Administradores
    </button>
    <button class="btn m-1" [class.btn-solcitantes]="pestanaSeleccionada !== 'solicitantes'"
      [class.btn-solic-seleccionado]="pestanaSeleccionada === 'solicitantes'"
      (click)="seleccionarPestana('solicitantes')">
      Mostrar
      Usuarios
    </button>
  </div>


  <div class="tabs" style="margin-top: 1%;">
    <div *ngIf="pestanaSeleccionada === 'administradores'">
      <app-archivados-administrador></app-archivados-administrador>
    </div>
    <div *ngIf="pestanaSeleccionada === 'solicitantes'">
      <app-archivados-solicitante></app-archivados-solicitante>
    </div>


  </div>
</body>

</html>