<div class="modal-header">
    <h5 class="modal-title"><b>Detalles del trabajo</b></h5>
    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
</div>
<div class="modal-body" *ngIf="trabajo">
    <div class="row">
        <div class="col-md-6">
            <p><strong>ID:</strong> {{ trabajo.id }}</p>
        </div>
        <div class="col-md-6">
            <strong>Nombre:</strong>
            <p>{{ trabajo.nombre }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <strong>Dirección:</strong>
            <p>{{ trabajo.direccion }}</p>
        </div>
        <div class="col-md-6">
            <strong>Descripción:</strong>
            <p>{{ trabajo.descripcion }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <strong>Precio:</strong>
            <p>{{ trabajo.precio }}</p>
        </div>
        <div class="col-md-6">
            <strong>Status:</strong>
            <p>{{ trabajo.status }}</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
</div>
