.registro-container {
  max-width: 1500px;
  margin: 0 auto;
  background-color: #f5f8fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.registro-header {
  text-align: center;
  margin-bottom: 20px;
}

.registro-header h1 {
  color: #31493c;
}

.registro-content {
  display: flex;
  align-items: center;
}

.registro-image {
  flex: 1;
  text-align: center;
  margin-right: 20px;
}

.registro-image img {
  width: 130px;
  height: auto;
  border-radius: 50%;
}

.registro-form {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.registro-form-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.registro-form-column input {
  width: 48%;
}

.registro-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.inputs-form {
  flex: 3;
}

.registro-image {
  flex: 2;
}

.registro-button {
  background-color: #7A9E7E;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.registro-button:hover {
  background-color: #000;
}

.colorNav {
  color: #7a9e7e;
}

.btn-iniciar-sesion {
  background-color: #7A9E7E;
  color: #ffffff;
  padding: 1px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-iniciar-sesion:hover {
  background-color: #000;
}

.link-iniciar-sesion {
  color: #ffffff;
  text-decoration: none;
}

.link-iniciar-sesion:hover {
  color: #ffffff;
  text-decoration: none;
}

.navbar-brand {
  color: #ffffff;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #ffffff;
  text-decoration: none;
}

.error-message {
  font-size: 12px;
  color: red;
  margin-top: 2px;
}