<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<header>
    <div class="row">
        <div class="col-sm-12">
            <div class="d-flex align-items-center justify-content-between">
                <h4 class="titulo-principal">SOLICITANTES</h4>
                <button title="Salir" class="btn boton-salir"><i class="fa-solid fa-arrow-right-from-bracket"></i>
                    Salir</button>
            </div>
        </div>
    </div>
    <hr>
</header>

<div class="div-btn-agregar">
    <button (click)="agregar_solicitante()" class="btn boton-agregar"><i class="fa fa-user-plus"></i> Agregar</button>
</div>

<body style="background-color: transparent;">
    <div>
        <table id="datatableexample" class="table table-bordered table-hove">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="opciones">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td class="opciones-botones">
                        <button type="button" title="Ver información" class="btn boton-ver"><i
                                class="fa-regular fa-eye"></i></button>
                        <button (click)="modificar_solicitante()" title="Modificar" type="button"
                            class="btn boton-modificar"><i class="fa-regular fa-pen-to-square"></i></button>
                        <button (click)="eliminar_solicitante()" title="Desactivar" type="button"
                            class="btn boton-eliminar"><i class="fa-regular fa-trash-can"></i></button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td class="opciones-botones">
                        <button type="button" title="Ver información" class="btn boton-ver"><i
                                class="fa-regular fa-eye"></i></button>
                        <button (click)="modificar_solicitante()" title="Modificar" type="button"
                            class="btn boton-modificar"><i class="fa-regular fa-pen-to-square"></i></button>
                        <button (click)="eliminar_solicitante()" title="Desactivar" type="button"
                            class="btn boton-eliminar"><i class="fa-regular fa-trash-can"></i></button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td>@twitter</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td class="opciones-botones">
                        <button type="button" title="Ver información" class="btn boton-ver"><i
                                class="fa-regular fa-eye"></i></button>
                        <button (click)="modificar_solicitante()" title="Modificar" type="button"
                            class="btn boton-modificar"><i class="fa-regular fa-pen-to-square"></i></button>
                        <button (click)="eliminar_solicitante()" title="Desactivar" type="button"
                            class="btn boton-eliminar"><i class="fa-regular fa-trash-can"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>