<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<header>
    <div class="row">
        <div class="col-sm-12">
            <div class="d-flex align-items-center justify-content-between">
                <h4 class="titulo-principal">SOLICITANTES</h4>
                <button (click)="salir()" title="Salir" class="btn boton-salir"><i
                        class="fa-solid fa-arrow-right-from-bracket"></i>
                    Salir</button>
            </div>
        </div>
    </div>
    <hr>
</header>

<div class="div-btn-agregar">
    <button (click)="agregar_solicitante()" class="btn boton-agregar"><i class="fa fa-user-plus"></i> Agregar</button>
</div>

<body style="background-color: transparent;">
    <div>
        <table id="tabla-solicitantes" class="table table-bordered table-striped table-hove">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Sexo</th>
                    <th scope="col" class="opciones">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of all_solicitantes; let i=index ">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.nombre}}</td>
                    <td>{{item.apellidos}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.telefono}}</td>
                    <td>{{item.edad}}</td>
                    <td>{{item.sexo}}</td>
                    <td class="opciones-botones">
                        <button (click)="ver_solicitante(item.id)" type="button" title="Ver información"
                            class="btn boton-ver"><i class="fa-regular fa-eye"></i></button>
                        <button (click)="modificar_solicitante(item.id)" title="Modificar" type="button"
                            class="btn boton-modificar"><i class="fa-regular fa-pen-to-square"></i></button>
                        <button (click)="eliminar_solicitante(item.id)" title="Desactivar" type="button"
                            class="btn boton-eliminar"><i class="fa-regular fa-trash-can"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>