<header>
    MIS TRABAJITOS
</header>
<div>
    <button><i class="fa fa-user-plus"></i>Agregar trabajo</button>
</div>

<body>
    <div>
        <table class= id="datatableexample table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Job Title</th>
                    <th scope="col">Job DFDF</th>
                    <th scope="col">Job TiDSFDStle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>MARK</td>
                    <td>OTTO</td>
                    <td>DSDdsfF</td>
                    <td>DdfSDF</td>
                    <td>ds</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
