<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<header>
    <div class="row">
        <div class="col-sm-12">
            <div class="d-flex align-items-center justify-content-between">
                <h4 class="titulo-principal">ADMINISTRADORES</h4>
                <button title="Salir" class="btn btn-danger"><i class="fa-solid fa-arrow-right-from-bracket"></i> Salir</button>
            </div>
        </div>
    </div>
    <hr>
</header>

<div style="margin: 1%;">
    <button (click)="agregar_admin()" class="btn btn-success"><i class="fa fa-user-plus"></i>  Agregar</button>
</div>
<body> 
    <div>
        <table  class="table table-hover table-bordered" style="border: #000;">
            <thead style="background-color: #7a9e7e; color:#fff;">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="opciones">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td class="opciones-botones">
                        <button title="Modificar a un administrador" type="button" class="btn button1"><i class="fa-solid fa-user-pen"></i>   Modificar</button>
                        <button title="Inhabilitar a un administrador" type="button" class="btn button2"><i class="fa fa-trash"></i>  Inhabilitar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td class="opciones-botones">
                        <button title="Modificar a un administrador" type="button" class="btn button1"><i class="fa-solid fa-user-pen"></i>   Modificar</button>
                        <button title="Inhabilitar a un administrador" type="button" class="btn button2"><i class="fa fa-trash"></i>  Inhabilitar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry the Bird</td>
                    <td>@twitter</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td class="opciones-botones">
                        <button title="Modificar a un administrador" type="button" class="btn button1"><i class="fa-solid fa-user-pen"></i>   Modificar</button>
                        <button title="Inhabilitar a un administrador" type="button" class="btn button2"><i class="fa fa-trash"></i>  Inhabilitar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>