<header>
    <span><b>Trabajos</b></span>
    <a class="close-button" (click)="salir()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
</header>
<hr>

<div class="home-container">
    <div class="card-list">
      <div *ngFor="let trabajo of trabajos" class="card">
        <h3>{{ trabajo.nombre }}</h3>
        <p>{{ trabajo.descripcion }}</p>
      </div>

        <div class="card">
            <img src="assets/ejemplo-trabajo2.jpg" alt="Trabajo 2">
            <h3>plomeria</h3>
            <p>Arreglo de tuberia.</p>
            <button class="postular-button">Solicitar</button>
            
        </div>

        <div class="card">
            <img src="assets/ejemplo-trabajo.jpg" alt="Trabajo 1">
            <h3>Jardinero</h3>
            <p>Podar arboles</p>
            <button class="postular-button">Solicitar</button>
            
        </div>

        
        
    </div>
</div>



