<header>
    <span><b>Trabajos</b></span>
    <a class="close-button" (click)="salir()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
</header>
<hr>

<div class="home-container">
    <div class="card-list">
        <div class="card">
            <img src="ruta_de_la_imagen_1.jpg" alt="Trabajo 1">
            <h3>Trabajo 1</h3>
            <p>Descripción del Trabajo 1.</p>
        </div>

        <div class="card">
            <img src="ruta_de_la_imagen_2.jpg" alt="Trabajo 2">
            <h3>Trabajo 2</h3>
            <p>Descripción del Trabajo 2.</p>
        </div>

        <!-- Agrega más tarjetas aquí -->

    </div>
</div>