<br>
<h1 class="table-title"><b>POSTULANTES</b></h1>
<div class="add-button-container">
    <button class="add-button">Agregar postulante</button>
</div>
<table class="dashboard-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre completo</th>
            <th>Dirección</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Nombre postulante1</td>
            <td>Dirección 1</td>
            <td>Correo 1</td>
            <td>
                <button class="action-button color-button" title="Ver información">Ver
                    <i class="fas fa-eye"></i>
                </button>
                <button class="action-button color-button" title="Editar información"> Editar
                    <i class="fas fa-edit"></i>
                </button>
                <button class="action-button color-button" title="Eliminar postulante">Eliminar
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Nombre postulante 2</td>
            <td>Dirección 2</td>
            <td>Correo 2</td>
            <td>
                <button class="action-button color-button" title="Ver información">Ver
                    <i class="fas fa-eye"></i>
                </button>
                <button class="action-button color-button" title="Editar información"> Editar
                    <i class="fas fa-edit"></i>
                </button>
                <button class="action-button color-button" title="Eliminar postulante">Eliminar
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Nombre postulante 3</td>
            <td>Dirección 3</td>
            <td>Correo 3</td>
            <td>
                <button class="action-button color-button" title="Ver información">Ver
                    <i class="fas fa-eye"></i>
                </button>
                <button class="action-button color-button" title="Editar información"> Editar
                    <i class="fas fa-edit"></i>
                </button>
                <button class="action-button color-button" title="Eliminar postulante">Eliminar
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Nombre postulante 4</td>
            <td>Dirección 4</td>
            <td>Correo 4</td>
            <td>
                <button class="action-button color-button" title="Ver información">Ver
                    <i class="fas fa-eye"></i>
                </button>
                <button class="action-button color-button" title="Editar información"> Editar
                    <i class="fas fa-edit"></i>
                </button>
                <button class="action-button color-button" title="Eliminar postulante">Eliminar
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>