<div class="modal-header">
    <h5 class="modal-title"><b>Detalles del postulante</b></h5>
    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            <img src="assets/imagen_perfil.jpg" alt="Imagen del postulante" class="img-fluid profile-image">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>ID:</strong> 1</p>
                </div>
                <div class="col-md-6">
                    <strong>Nombre:</strong>
                    <p>Juan Pérez</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <strong>Apellidos:</strong>
                    <p>Gómez López</p>
                </div>
                <div class="col-md-6">
                    <strong>Sexo:</strong>
                    <p>Masculino</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <strong>Dirección:</strong>
                    <p>Avenida Principal #123</p>
                </div>
                <div class="col-md-6">
                    <strong>Edad:</strong>
                    <p>30</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <strong>Teléfono:</strong>
                    <p>1234567890</p>
                </div>
                <div class="col-md-6">
                    <strong>Municipio:</strong>
                    <p>Ciudad</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <strong>Localidad:</strong>
                    <p>Localidad</p>
                </div>
                <div class="col-md-6">
                    <strong>Estado:</strong>
                    <p>Estado</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <strong>Correo:</strong>
                    <p>juan.perez@example.com</p>
                </div>
                <div class="col-md-6">
                    <strong>Estatus:</strong>
                    <p>Pendiente</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
</div>