<body>

    <div>
        <header>
            <div class="row">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="titulo-principal">INFORMACIÓN DEL SOLICITANTE</h4>
                    <button onclick="history.back()" title="Regresar" class="btn btn-primary"><i
                            class="fa fa-reply"></i></button>
                </div>
            </div>
        </header>
            <hr>

        <div>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="statics" data-bs-keyboard="false" tabindex="2"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header"
                            style="background-color: #31494c; color: #fff; border-radius: 0px 0px 25px 25px;">
                            <h3>INFORMACION PERSONAL</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                style="background-color: #fff;"></button>
                        </div>
                        <div class="modal-body" style="background-color: #e8f1f2;">
                            <div class="row" style="display: flex; justify-content: center;">
                                <div class="col-sm-12 col-md-4"
                                    style="display: flex; flex-direction: column; align-items: center;">
                                    <div
                                        style="box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); width: 150px; height: 150px; border-radius: 50%; overflow: hidden;">
                                        <img src="/assets/perfil.jpg" class="card-img-top" alt="..."
                                            style="width: 100%; height: 100%; object-fit: cover;">
                                    </div>
                                    <label for="input1" style="margin-top:20px">Nombre</label>
                                    <p class="datos-personales">
                                        {{datos_solicitante.nombre}} {{datos_solicitante.apellidos}}</p>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <label for="input1">Correo</label>
                                    <p class="datos-personales">
                                        {{datos_solicitante.email}}</p>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="input1">Teléfono</label>
                                    <p class="datos-personales">{{datos_solicitante.telefono}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-4">
                                    <label for="input1">Dirección</label>
                                    <p class="datos-personales">{{datos_solicitante.calle}}</p>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <label for="input1">Municipio</label>
                                    <p class="datos-personales">{{datos_solicitante.municipio}}</p>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <label for="input1">Estado</label>
                                    <p class="datos-personales">{{datos_solicitante.estado}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-4">
                                    <label for="input1">No. de publicaciones</label>
                                    <p class="datos-personales">236</p>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <label for="input1">Trabajos conluidos</label>
                                    <p class="datos-personales">80</p>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <label for="input1">Trabajos eliminados</label>
                                    <p class="datos-personales">46</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row" style="margin:5px; margin-top: 3%;">
                <div class="col-sm-12 col-md-6 input-buscar">

                    <label for="" class="text-buscar">Ver trabajitos:</label>
                    <div class="group">
                        <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                            <g>
                                <path
                                    d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                </path>
                            </g>
                        </svg>
                        <input placeholder="Buscar" type="search" class="input" [(ngModel)]="nombreBusqueda"
                            style="border-radius: 20px;">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6" style="display: flex; justify-content: end;">
                    <button style="border-radius: 25px;" class="btn btn-info-user" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        <i class="fa-solid fa-circle-info" title="Ver información"></i> Ver
                        información
                    </button>
                </div>
            </div>

            <div class="container">

                <div class="heading_container heading_center">

                    <div class="filters-content">
                        <div class="row grid">
                            <div class="row row-cols-3 row-cols-md-3 g-4">
                                <div class="col" *ngFor="let item of obtenerItemsFiltrados()"
                                    [ngClass]="{'card-fade-in': nombreBusqueda, 'card-fade-out': !nombreBusqueda}">
                                    <div class="card card-trabajo">
                                        <img src="/assets/ejemplo-trabajo2.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="">Nombre:</label>
                                                    <p>{{item.nombre}}</p>
                                                </div>
                                                <div class="col-md-12">
                                                    <label for="">Descripción:</label>
                                                    <p>{{item.descripcion}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <button class="btn btn-outline-danger" style="border-radius: 25px;">
                                                    <i class="fa-solid fa-ban"></i> Banear
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <br>

    <div>
        <button class="Btn" id="btnUp">

            <div class="sign">
                <i class="fa-solid fa-arrow-up color"></i>
            </div>

            <div class="text">Subir</div>
        </button><br>
    </div>

</body>